@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
  }

  .about-body {
background-color: var(--light-cream);  
}

#Hero {
background-image:linear-gradient(
to top,
rgb(216, 174, 95, 0.5),
rgba(0, 0, 0, 0.6)
),
url('../images/hotell.jpg');
height: 400px;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
}

/* The hero picture */
.hero_about {
    font-family: Nunito;
    line-height: 100px;
    font-size: 50px;
   
}
.hero_txt {
    font-family: Nunito;
    line-height: 23px;
    font-size: 15px;
  
}
/* The main content page */
.content {
    display: grid;
    grid-template-columns: 10% 25% 25% 25% 15%;
    grid-template-rows: auto;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 15px;
   
}
/* The list on the left */
.about-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.list_head {
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
    font-family: Nunito;
    font-size: 30px;
    padding-top: 3em;
   
}

.li_design {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: Nunito;
    list-style-type: none;
    margin: 0;
    font-size: 20px;
}
.fa-cube{
    color: var(--muted-gold );
    font-size: 30px;
    margin-right: 15px;
     border: 5px solid var(--muted-gold );
    border-radius: 10px;
    

}

.li_txt {
    font-family: Nunito;
    font-size: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--muted-gold);
    width: 250px;
}
/* Picture and some text on the right */
.about-article {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    margin: 50px auto;
    width: 600px;
    
}
.about-img-box{
    background-image: url('../images/Café.png');
    width: 650px;
    height: 450px;
    background-position: center;
    background-size: cover;
    resize: both;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.about-text {
    grid-column-start: 2;
   grid-column-end: 4;
    font-family: Nunito;
    margin: 15px auto;
    font-size: 15px;
   
    
  }
  /* About the team */

  .about-team {
    display: flex;
    margin: 50px auto;
    border-bottom: 1px solid var(--muted-gold);
   flex-flow: row wrap;
   justify-content: center;
   column-gap: 150px;
  }
  .headLine {
    padding-top: 15px;
    font-family: Nunito;
   
    font-size: 30px;
    
  }

  .teamInfo {
    max-width: 500px;
    font-size: 15px;
    font-family: Nunito;
  }

  /* The Team social media and photo */
  .team_socials {
 
    display: flex;
    justify-content: space-evenly;
  }
  .team {
    text-align: center;
    padding: 30px;
    
  }

  img {
    max-width: 75%;
    height: auto;
  }

  .team_h3 {
    font-size: 25px;
    font-family: Nunito;
  }
  .social {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:25px;
    
  }













  /* Media qu */


@media (max-width: 768px) {
    .about-img-box {
        display: none;
    }
 
}

  @media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    .list_head {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .about-article {
        width: 300px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .about-list {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .about-img-box{
        margin: 50px auto;
        width: 300px;
        height: 300px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }    
    .team_socials {
        flex-direction: column;
    }
  }


