@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
  }

  .about-body {
background-color: #FDFBF7;  
}

#Hero {
background-image:linear-gradient(
to top,
rgb(216, 174, 95, 0.5),
rgba(0, 0, 0, 0.6)
),
url('../images/hotell.jpg');
height: 400px;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;
}


.hero_about {
    font-family: Nunito;
    line-height: 100px;
    font-size: 50px;
   
}
.hero_txt {
    font-family: Nunito;
    line-height: 23px;
    font-size: 15px;
  
}

.content {
    display: grid;
    grid-template-columns: 10% 25% 25% 25% 15%;
    grid-template-rows: auto;
    justify-content: space-between;
    /* grid-template-areas:
    "listHead txt txt"
    "list cafe cafe"; */
    column-gap: 25px;
    row-gap: 15px;
   
}
.about-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* grid-area: list; */
    /* border: 2px solid black; */
    /* padding-left: 200px; */
    /* margin: 50px auto; */
    /* height: 600px;
    width: 200px; */
}
.list_head {
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
    font-family: Nunito;
    font-size: 30px;
    padding-top: 3em;
    /* line-height: 50px;  */
}
/* .ui_design {

} */
.li_design {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: Nunito;
    list-style-type: none;
    margin: 0;
    /* padding-top: 60px; */
    font-size: 20px;
}
.fa-cube{
    color: #D8AE5F;
    font-size: 30px;
    margin-right: 15px;
    border: 5px solid #D8AE5F;
    border-radius: 20px;
    

}

.li_txt {
    font-family: Nunito;
    font-size: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D8AE5F;
    width: 250px;
}
.about-article {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-area: article; */
    text-align: left;
    /* border: 2px solid black; */
    margin: 50px auto;
    /* height: auto; */
    width: 600px;
    
}
.about-img-box{
    background-image: url('../images/Café.png');
    /* height: 525px; */
    width: 650px;
    height: 450px;
    background-position: center;
    background-size: cover;
    resize: both;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    
}
/* .cafe {
    grid-area: cafe;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  } */
.about-text {
    grid-column-start: 2;
   grid-column-end: 4;
    /* padding-left: 40px; */
    font-family: Nunito;
    margin: 15px auto;
    font-size: 15px;
   
    
  }
  /* About the team */

  .about-team {
    display: flex;
    /* height: 250px; */
    margin: 50px auto;
    border-bottom: 1px solid #D8AE5F;
   flex-flow: row wrap;
   justify-content: center;
   column-gap: 150px;
  }
  .headLine {
    padding-top: 15px;
    font-family: Nunito;
    /* width: auto; */
    /* height: auto; */
    font-size: 30px;
    
  }

  .teamInfo {
    max-width: 500px;
    font-size: 15px;
    font-family: Nunito;
  }

  .team_socials {
    /* background-color: #4d4d4d; */
    /* width: 80%;
    max-width: 1000px; */
    display: flex;
    justify-content: space-evenly;
    /* flex-flow: row wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center; */


  }
  .team {
    text-align: center;
    padding: 30px;
    
  }

  img {
    max-width: 75%;
    height: auto;
  }

  .team_h3 {
    font-size: 25px;
    font-family: Nunito;
  }
  .social {
    /* color: #181717 ; */
    display: flex;
    justify-content: center;
    gap:20px;
  }

  /* .team1 {
    background-image: url('../images/Tony.png') ;
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    resize: both;
    background-repeat: no-repeat;
  }
 
  .team2 {
    background-image: url('../images/Mike.png') ;
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    resize: both;
    background-repeat: no-repeat;
  }
 
  .team3 {
    background-image: url('../images/Edward.png') ;
    width: 350px;
    height: 500px;
    background-position: center;
    /* background-size: cover; */
    /* resize: both; */
    /* background-repeat: no-repeat; */
   */

  .team_socials {
display: flex;
  /* gap: 1.2rem;
  margin-top: 1.2rem;
  align-items: center;
  margin-left: 1.3rem; */
  }












  /* Media qu */
  @media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    .list_head {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .about-article {
        width: 300px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .about-list {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .about-img-box{
        margin: 50px auto;
        width: 300px;
        height: 300px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }    
    .team_socials {
        flex-direction: column;
    }
  }


