* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito';
    background-color: var(--light-cream);
}

.uppercase {
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--almost-black);
}

#contact-hero {
    height: 21.875rem;
    background-image: linear-gradient(
        to top,
        rgba(216, 174, 95, 0.457),
        rgba(0, 0, 0, 0.6)
      ), url('https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2671&q=80');
    background-position: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--light-cream);
}

#contact-hero .text-content {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#contact-hero h1 {
    font-size: 3.25rem;
    font-weight: 600;
}

#location {
    padding: 3rem 0;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#location h2 {
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

#location h4 {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2;
}

a.booking-btn,
#submit {
    border-style: none;
    background-color: var(--muted-gold);
    color: var(--light-cream);
    padding: 1rem 1.4rem;
    display: inline-block;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

a.booking-btn {
    margin: 1.5rem;
}

#submit {

}

a.booking-btn:hover,
#submit:hover {
    scale: .99;
    box-shadow: none;
}

.contacts-container {
    background-color: #e9ecef;
    padding: 1.5rem 0 1.5rem 1.5rem;
    max-width: 200rem;
    margin: 0 auto;
}

.contacts-container h2 {
    text-align: center;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

#contacts {
    display: flex;
}

.map-container, 
.form-container {
    width: 50%;
}

#go-map {
    width: 100%;
    height: 500px;
    filter: brightness( 70% ) contrast( 100% ) saturate( 80% ) blur( 0px ) hue-rotate( 0deg );
    transition: filter .5s ease-in-out;
}

#go-map:hover {
    filter: brightness( 90% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

form {
    margin: 0 3.3rem 0 3.3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: .7rem;
    text-transform: uppercase;
}

label {
    display: block;
    font-size: .9rem;
    font-weight: 700;
}

input:focus,
textarea:focus {
    outline-color: var(--muted-gold);
}

#name {
    grid-area: 1 / 1 / 1 / 7;
}

#name input,
#phone input,
#subject input {
    width: 100%;
}

#email input {
    width: 90%;
}

#email {
    grid-area: 2 / 1 / 2 / 4;
    min-height: 0;
}

#phone {
    grid-area: 2 / 4 / 2 / 7;
} 

#subject {
    grid-area: 3 / 1 / 3 / 7;
}

#text-area {
    grid-area: 4 / 1 / 4 / 7;
    height: 100%;
}

#submit {
    grid-area: 5 / 1 / 5 / 2;
    cursor: pointer;
    margin-top: 1rem;
    min-width: 7rem;
}

#text-area #message {
    width: 100%;
    height: 250px;
    background-color: var(--light-cream);
    font-family: 'Nunito';
    padding: .4rem;
}

/* Desktop smaller screens */

@media (max-width: 1200px) {
    .contacts-container {
        padding: 1.5rem 0 1.5rem;
    }

    #location {
        width: 80%;
    }

    #contacts {
        flex-flow: column-reverse nowrap;
    }

    .map-container {
        width: 90%;
        margin: 0 auto;
    }

    .form-container {
        width: 100%;
    }

    #submit {
        margin-bottom: 2rem;
        grid-area: 5 / 6 / 5 / 7;
    }
}

/* Ipad */

@media (max-width: 960px) {
    #contact-hero .text-content {
        width: 80%;
    }
}

/* Mobile */

@media (max-width: 767px) {

    form {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    #name {
        grid-area: 1 / 1 / 1 / 7;
    }
    
    #name input,
    #phone input,
    #subject input {
        width: 100%;
    }
    
    #email input,
    #text-area {
        width: 100%;
    }
    
    #email {
        grid-area: 2 / 1 / 2 / end;
        min-height: 0;
    }
    
    #phone {
        grid-area: 3 / 1 / 3 / end;
    } 
    
    #subject {
        grid-area: 4 / 1 / 4 / end;
    }
    
    #text-area {
        grid-area: 5 / 1 / 5 / end;
    }
    
    #submit {
        grid-area: 6 / 1 / 6 / end;

    }

    .map-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
}