/* --------- HERO SECTION --------- */
#hero {
  background-image: linear-gradient(
      to top,
      rgb(216, 174, 95, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url('../images/home-hero.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.hero__container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  font-size: 50px;
}

.hero__content {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 15px;
  max-width: 500px;
}

/* TOP-INFO SECTION */

.top-info__container {
  width: 90%;
  max-width: 1000px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.top-info__title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.top-info__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'card1 card2'
    'card3 card3';
  gap: 3rem;
  margin-top: 3rem;
  justify-items: center;
}

.top-info__card {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  min-width: 300px;
}

.top-info__card-img {
  width: 100%;
  align-self: center;
}

.top-info__card-subheading {
  font-weight: 500;
  font-size: 22px;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.top-info__card--1 {
  grid-area: card1;
}
.top-info__card--2 {
  grid-area: card2;
}
.top-info__card--3 {
  grid-area: card3;
}

/* MENU SECTION */

#menu-section {
  background-color: var(--almost-black);
}

.menu-section__container {
  width: 90%;
  max-width: 1000px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-section__title {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.menu__container {
  display: grid;
  background-color: #222;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin: 40px auto;
}

.menu__item {
  color: white;
  border-bottom: 2px solid #d8ae5f;
  height: 130px;
}

.menu__btn {
  align-self: center;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.menu__btn a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--almost-black);
  font-weight: 500;
  padding: 15px 30px;
  transition: background-color, color;
  transition-duration: 200ms;
}

.menu__btn a:hover {
  background-color: white;
  color: var(--almost-black);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .hero__title {
    font-size: 25px;
  }

  .top-info__title {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .top-info__card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'card1'
      'card2'
      'card3';
  }
}

/* MENU MEDIA QUERIES (Ska fixas) */

@media (max-width: 1000px) {
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu__item-7 {
    display: none;
  }
}

@media (max-width: 650px) {
  .menu__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu__item-7,
  .menu__item-8,
  .menu__item-9 {
    display: none;
  }
}
