* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito";
  margin: 0;
  background-color: #222;
}
#hero {
  background-image: linear-gradient(
      to top,
      rgb(216, 174, 95, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/menuhero.jpeg);
  background-size: cover;
  background-position: 30% 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero > h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}
#hero > p {
  color: white;
  text-align: center;
  padding: 0 15% 0 15%;
  font-size: 15px;
}

#appetizer-header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

#appetizer-header > h2 {
    font-size: 30px;
    color: white;
}

#appetizer-container {
    height: 620px;
    display: grid;
    background-color: #222;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 1200px;
    margin: 40px auto;
}

#appetizer-container > div {
    color: white;
    border-bottom: 2px solid #D8AE5F;
    height: 130px;
    width: 360px;
}

#appetizer-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#appetizer-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#appetizer-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#appetizer-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#appetizer-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#appetizer-item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#appetizer-item7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#appetizer-item8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#appetizer-item9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#Maincourses-header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

#Maincourses-header > h2 {
    font-size: 30px;
    color: white;
}

#Maincourses-container {
    height: 620px;
    display: grid;
    background-color: #222;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 1200px;
    margin: 40px auto;
}

#Maincourses-container > div {
    color: white;
    border-bottom: 2px solid #D8AE5F;
    height: 130px;
    width: 360px;
}

#Maincourses-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Maincourses-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Maincourses-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Maincourses-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Maincourses-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Maincourses-item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Maincourses-item7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#Maincourses-item8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#Maincourses-item9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}